

mat-card{
	height: 80%;
	background-color: #FF0101;
	box-shadow: 0px 0px 0px 15px #000;
}
mat-card-actions{
	background-color: white;
	margin-top: 43px;
    margin-left: -23px;
    margin-right: -23px;
    padding: 0;
}
.mat-button{
	width: 100%;
	font-weight: 700;
	font-size: 18px;
}
mat-card-title{
	font-size: 60px;
	color: #fff;
	padding-bottom: 30px;
}
mat-card-subtitle{
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}
mat-card-header{
	text-align: left;
}