/*
#centerdiv {
	
    position:absolute;
    box-shadow:0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12);
    top: 45%;
    left: 45%;
    width:40em;
    height:29em;
    margin-top: -9em; 
    margin-left: -15em; 
   
    background-image: url('WhiteBackground.jpg');
    white-space: nowrap; 
    border-radius: 25px;
}

h1 {
    text-align: center;
   	margin-top: 4em;
   	color: #fff;
}*/

